include LICENSE.txt
include README.md
include CHANGELOG.md
include CMakeLists.txt

recursive-include galaxychop *.dat
recursive-include galaxychop *.npy
recursive-include galaxychop *.f90
recursive-include draft *.py
recursive-include draft *.text
recursive-include draft *.txt
recursive-include galaxychop *.c
recursive-include galaxychop *.py

recursive-exclude docs *
recursive-exclude legacy *
recursive-exclude legacy_test *
recursive-exclude resource *
recursive-exclude tests *
recursive-exclude tools *

exclude tox.ini
exclude pyproject.toml
exclude requirements_dev.txt
exclude .header-template
exclude .readthedocs.yml

  