include LICENSE.txt
include README.md
include CHANGELOG.md
include CMakeLists.txt
include pyproject.toml

recursive-include galaxychop *.dat
recursive-include galaxychop *.npy
recursive-include galaxychop *.f90
recursive-include galaxychop *.py

recursive-exclude docs *
recursive-exclude draft *
recursive-exclude legacy *
recursive-exclude legacy_test *
recursive-exclude resource *
recursive-exclude tests *
recursive-exclude tools *
recursive-exclude _skbuild *

exclude tox.ini
exclude requirements_dev.txt
exclude .header-template
exclude .readthedocs.yml